<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Directors Cinema</title>
</head>
<body>

<div>
    <h1><a href="/">Menu de directores de cine</a> </h1>
</div>

{% for director in directors %}
    <li>
        <li><p>Director: {{ director.fisrt_name }} {{ director.last_name }}</p></li>
        {% if director.movie.all %}
            {% for movie in director.movie.all %}
            <ul>{{movie.title}}</ul>
            {% endfor %}
        {% else %}
            <p>No tiene peliculas</p>
        {% endif %}
    </div>
{% endfor %}

</body>
</html>